.grid-cell {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
}
.grid-cell img {
    max-width: 100%;
    height: auto;
}

.link-button {
    background: white;
    color: blue; /* Color del texto para que parezca un enlace */
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: underline; /* Añade subrayado para parecer un enlace */
}

.link-button:hover {
    text-decoration: none; /* Opcional: quita el subrayado al pasar el mouse */
    color: darkblue; /* Cambia de color al hacer hover, para efecto de enlace */
}



/*************/

/*************/

.jumbotron-animate {
  opacity: 0;
  transform: translateX(100%); /* Desplazado hacia la derecha */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.jumbotron-visible {
opacity: 1;
transform: translateX(0); /* Volver a la posición original */
}

.footer-animate {
animation: fadeInOut 5s ease-in-out infinite;
}


/************/
