{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<div class="d-flex justify-content-center align-items-center py-5">
    <div class="row">
        <div class="col-md-12 mb-3 text-center">
            <form action="/explorar" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    ¿Cuántas acciones desea asignar para explorar?<br><br>
                    <label for="id_name" class="form-label">Acciones</label>
                    <div class="text-warning">{{mensajeError}}</div>
                    <input type="number" id="acciones" name="acciones" min="0" max="100" value="0" />
                </div>
                <br>
                <button type="submit" class="btn btn-dark">Explorar</button>
            </form>
        </div>

        <div class="col-md-12 mb-3 text-center">
            {{mensaje|safe}}

        </div>
    </div>
</div>
{% endblock %}