{% extends 'base.html' %}
{% block contenido %}

<div class="container">

  <h1>Acciones: {{Usuario.acciones}} Oro: {{Usuario.oro}} </h1>

  <div class="row">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Reclutar Tripulantes</h5>
      <p class="card-text">Lista de tripulantes que puedes conseguir para tu nave.</p>
      <a href="reclutar" class="btn btn-primary">Ir a Reclutar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Nave </h5>
      <p class="card-text">El estado de tu nave y asignar tripulantes.</p>
      <a href="nave" class="btn btn-primary">Ir a Nave</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Ranking </h5>
      <p class="card-text">Ranking de Jugadores.</p>
      <a href="ranking" class="btn btn-primary">Ir a Ranking</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Explorar </h5>
      <p class="card-text">Explora el espacio.</p>
      <a href="explorar" class="btn btn-primary">Ir a Explorar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Taller </h5>
      <p class="card-text">Mejorar y reparar tu Nave.</p>
      <a href="taller" class="btn btn-primary">Ir a Taller</a>
    </div>
  </div>
</div>

  </div>

{% endblock %}