{% extends 'base.html' %}
{% block contenido %}



    <h1>{{miNave.nombre}}</h1>
    <!-- Fila de Nave -->
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="https://cdn.vectorstock.com/i/1000v/74/87/blueprint-of-the-spaceship-vector-6067487.jpg" width="400" height="400" alt="Nave"/>
        </div>
        
        <!-- Estadísticas de la Nave a la derecha -->
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <td>Resistencia:</td>
                    <td>{{ resistencia }}</td>
                </tr>
                <tr>
                    <td>Ataque:</td>
                    <td>{{ miNave.ataque }}</td>
                </tr>
                <tr>
                    <td>Defensa:</td>
                    <td>{{ miNave.defensa }}</td>
                </tr>
                <tr>
                    <td>Escudos:</td>
                    <td>{{ miNave.escudos }}</td>
                </tr>
                <tr>
                    <td>Radar:</td>
                    <td>{{ miNave.radar }}</td>
                </tr>
                <tr>
                    <td>Capacidad Tripulantes:</td>
                    <td>{{miNave.capacidadTripulantes}}</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Lista de Tripulantes debajo de la Nave -->
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h3>Tripulantes</h3>
            <form method="post" action="">
                {% csrf_token %}
                {% for tripulante in misTripulantes %}
                <div style="display: flex; align-items: flex-start; margin-bottom: 15px;">
                    <img src="{{ tripulante.imagen }}" alt="Imagen" style="width: 100px; height: 100px; margin-right: 15px;">
                    <div>
                        <h4>{{ tripulante.nombre }}</h4>
                        <ul>
                            <li>Ataque: {{ tripulante.ataque }}</li>
                            <li>Defensa: {{ tripulante.defensa }}</li>
                            <!-- <li><input type="checkbox" name="checkTripulantes" value="{{ tripulante.id }}"> Asignar a Nave</li> -->
                        </ul>
                    </div>
                </div>
                {% endfor %}
                <!-- <button type="submit" class="btn btn-primary mt-3">Actualizar Asignación</button> -->
            </form>
        </div>
    </div>





{% endblock %}
