<div class="bg-black container">
    <div class="row text-center py-2 playfair">
        <div class="col">
            <h4 class="text-primary">Oro: <span class="font-weight-bold">{{ usuario.oro }}</span></h4>
        </div>
        <div class="col">
            <h4 class="text-success">Acciones: <span class="font-weight-bold">{{ usuario.acciones }}</span></h4>
        </div>
        <div class="col">
            <h4 class="text-warning">Recursos: <span class="font-weight-bold">{{ usuario.recursos }}</span></h4>
        </div>
    </div>
    <div class="row text-center py-2 playfair">
        <div class="col">
            <h3 class="text-primary">Poder: <span class="font-weight-bold">{{ usuario.oro }}</span></h3>
        </div>
    </div>
</div>