{% extends 'base.html' %}
{% load static %} 
{% block contenido %}

  <!-- Cuadrícula de tarjetas -->
  <div class="text-warning text-center"><b><h3>{{mensajeError}}</h3></b></div>
  <div class="row">
    {% for tripulante in tripulantes %}
    <div class="col-2 d-flex"> <!-- Cambiado a col-md-3 para 4 tarjetas por fila -->
      <div class="card mt-2 mb-2">
        <div class="card-header bg-muted text-white">
            <center><img src="https://cdn.openart.ai/published/IYDjBHzRh5m1g806VnJ4/DitvfKTH_AE99_512.webp" alt="" width="120" height="120"></center>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ tripulante.nombre }}</h5>
            <ul class="list-group">
                <li class="list-group-item"><strong>Ataque:</strong> {{ tripulante.ataque }}</li>
                <li class="list-group-item"><strong>Defensa:</strong> {{ tripulante.defensa}}</li>
                <li class="list-group-item"><strong>Radar:</strong> {{ tripulante.radar}}</li>
                <li class="list-group-item"><strong>Precio: <span class="text-success"> {{tripulante.precio}}</span></strong></li>
            </ul>
            <br><br>
            <center>10 Acciones
            <br><a href="/reclutar?id={{ tripulante.id}}" class="btn btn-success">Reclutar</a></center>
            <!-- <br><a href="/reclutarTripulante?id={{ tripulante.id}}" class="btn btn-success">Reclutar</a></center> -->
        </div>
    </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}